body {
  background-color: #EAF6F6;
}
h1 {color: #66BFBF;
}
h3{color: #FF96AD;
}
th {
  color: #231e23;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
